<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Tervetuloa!')" lang="fi">
        <title>Title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        
        <div th:replace="fragments/layout :: header(header='Tervetuloa!')">
            Header
        </div>

        <div class="container">
            <div class="row">
                <div class="col"><a th:href="@{/login}">Kirjaudu sisään</a></div>
                <div class="col"><a th:href="@{/registration}">Luo käyttäjätunnus</a></div>
            </div>
        </div>

    </body>
</html>
