
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title=${profile.name})" lang="fi">
        <title>Title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:replace="fragments/layout :: navbar(activeUrlIdentifier=${activeUser.urlIdentifier})">
            Navbar
        </div>
        
        <div th:replace="fragments/layout :: header(header=${profile.name})">
            Header
        </div>
                
        <div th:if="${profile.picture != null}" class="container">
            <img th:src="@{/pictures/{userId}/content(userId=${profile.id})}" class="img-fluid rounded d-block" alt="Profiilikuva" />
        </div>
        
        <div th:if="${profile.id == activeUser.id}">
            <div th:if="${profile.picture == null}" class="container">
                <form action="#" method="POST" th:action="@{/pictures}" enctype="multipart/form-data" role="form">
                    <input type="file" class="form-control-file" name="file" id="file"/>
                    <button type="submit" class="btn btn-primary btn-sm">Lisää profiilikuva</button>
                    <small id="profilePictureHelpBlock" class="form-text text-muted">
                        Kuvan tulee olla JPEG-muotoinen ja kooltaan korkeintaan 1 MB.
                    </small>
                </form>
            </div>
        </div>    
       
        <div class="container">Tähän tulee profiilisivu</div>
    </body>
</html>
