<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Aikajana')" lang="fi">
        <title>Title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:replace="fragments/layout :: navbar(activeUrlIdentifier=${activeUrlIdentifier})">
            Navbar
        </div>
        
        <div th:replace="fragments/layout :: header(header='Aikajana')">
            Header
        </div>
        
        <div class="container">Tähän tulee aikajana.</div>
    </body>
</html>
